<div class="gridCard">
    {{#each miniCards}}
    <div class="gridCard__mini-card" id="{{advertId}}">
        <a href="/adverts/{{advertId}}" class="gridCard__link">
        <img src="{{photo}}" alt="картинка квартиры">

        <div class="gridCard__description">
            <span class="gridCard__price">{{price}}</span>
            {{#if houseProperties}}
            <span class="gridCard__properties"> Дом · {{houseProperties.squareArea}} сот. · {{houseProperties.squareHouse}} м<sup>2</sup> · {{houseProperties.floor}} эт. · {{houseProperties.bedroomCount}} комн.</span>
            {{/if}}

            {{#if flatProperties}}
            {{!-- <span class="gridCard__properties"> Квартира · {{flatProperties.к}} сот. · {{houseProperties.squareHouse}} м<sup>2</sup> · {{houseProperties.floor}} эт. · {{houseProperties.bedroomCount}} комн.</span> --}}
            {{/if}}
            <span class="gridCard__adress">{{adress}}</span>     
        </div>
        </a>

    </div>

    {{/each}}
</div>


