{{#if myAdverts}}

<div class="gridCards">
    <div class="gridCards__information">
        <h2>{{title}}</h2>
        {{#if miniCards}}
        {{else}}
        <span>Вы не создали еще ни одного объявления</span> 
        {{/if}}
    </div>
    <div class="gridCards__Mycontainer">
    {{#each miniCards}}
        <div class="gridCards__Mycard">
            <a href="/adverts/{{advertId}}" class="gridCard__link">
            <img src="/static/{{photo}}" alt="Фотография">
            <div class="gridCards__description">

                <h2>{{price}} &#8381;</h2>

                {{#if houseProperties}}
                <span class="gridCards__properties"> Дом · {{houseProperties.squareArea}} сот. · {{houseProperties.squareHouse}} м<sup>2</sup> · {{houseProperties.floor}} эт. · {{houseProperties.bedroomCount}} комн.</span>
                {{/if}}

                {{#if flatProperties}}
                <span class="gridCards__properties"> {{flatProperties.roomCount}}к. квартира · {{flatProperties.squareGeneral}} м<sup>2</sup> · {{flatProperties.floor}} этаж</span>
                {{/if}}

                <span class="gridCards__adress">{{adress}}</span>    

            </div>
            </a>

            <div class="gridCards__buttons">
                <a href="/edit-advert/{{advertId}}" class="gridCards__edit">
                <span class="material-symbols-outlined">
                    edit
                </span>
                </a>
                <a href="{{advertId}}" class="gridCards__delete">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </a>
            </div>

        </div>
    {{/each}}
    </div>
</div>
{{else}}
<div class="gridCards">
    <div class="gridCards__information">
        <h2>{{title}}</h2>
        <span>Всего объявлений: {{totalElements}}</span> 
        <span id="clearFilters" class="gridCards_hidden gridCards_clear-filters">Очистить фильтры</span>
    </div>
    <div class="gridCards__container">
    {{#each miniCards}}
        <div class="gridCards__card">
            <a href="/adverts/{{advertId}}" class="gridCard__link">
                {{!-- <img src="../../static/fone.jpg" alt="Фотография"> --}}
                <img src="/static/{{photo}}" alt="Фотография">

                
                <div class="gridCards__description">

                    <h2>{{price}} &#8381;</h2>

                    {{#if houseProperties}}
                    <span class="gridCards__properties"> Дом · {{houseProperties.squareArea}} сот. · {{houseProperties.squareHouse}} м<sup>2</sup> · {{houseProperties.floor}} эт. · {{houseProperties.bedroomCount}} комн.</span>
                    {{/if}}

                    {{#if flatProperties}}
                    <span class="gridCards__properties"> {{flatProperties.roomCount}}к. квартира · {{flatProperties.squareGeneral}} м<sup>2</sup> · {{flatProperties.floor}} этаж</span>
                    {{/if}}

                    <span class="gridCards__adress">{{adress}}</span>    

                </div>
            </a>
            {{!-- <div class="gridCards__stats">
                <div class="gridCards__likes">
                    <span class="material-symbols-outlined">
                        {{#if isLiked}}
                            heart_check
                        {{/if}}
                        {{#unless isLiked}}
                            favorite
                        {{/unless}}
                    </span>
                    <span>{{likeCounter}}</span>
                </div>
                <div class="gridCards__views">
                    <span class="material-symbols-outlined">
                        visibility
                    </span>
                    <span>{{visibilityCounter}}</span>
                </div>
            </div> --}}
        </div>
    {{/each}}
    </div>
</div>
{{/if}}