<div class="complex-page">
    <h2>ЖК "{{name}}"</h2>
    <div class="info_location">
            <span>{{address}}</span>
        </div>
    <div class="complex-page__img">
        <img src="/static/{{photo}}" alt="Фото ЖК">
    </div>

    <div class="complex-page__info">

        

        

        <div class="info_characteristics">
                <div class="complex-page__characteristic-block">
                    <div class="characteristic-name">
                        Начало строительства
                    </div>
                    <div class="characteristic-description">
                        {{#if dateBeginBuild}}
                            {{dateBeginBuild}}
                        {{else}}
                            Не указано
                        {{/if}}
                    </div>
                </div>
            
            
                <div class="complex-page__characteristic-block">
                    <div class="characteristic-name">
                        Конец строительства
                    </div>
                    <div class="characteristic-description">
                    {{#if dateEndBuild}}
                        {{dateEndBuild}}
                    {{else}}
                            Не указано
                    {{/if}}
                    </div>
                </div>
            
                <div class="complex-page__characteristic-block">
                    <div class="characteristic-name">
                        Варианты отделки
                    </div>
                    <div class="characteristic-description">
                        {{#if withoutFinishingOption}}Без отделки {{/if}}{{#if finishingOption}}Чистовая {{/if}}{{#if preFinishingOption}}Предчистовая{{/if}}
                    </div>
                </div>
            
                <div class="complex-page__characteristic-block">
                    <div class="characteristic-name">
                        Класс
                    </div>
                    <div class="characteristic-description">
                        {{#if classHousing}}
                            {{classHousing}}
                        {{else}}
                            Не указано
                        {{/if}}
                    </div>
                </div>
            
            <div class="complex-page__characteristic-block">
                <div class="characteristic-name">
                    Паркинг
                </div>
                <div class="characteristic-description">
                    {{#if parking}}Есть{{else}}Нет{{/if}}
                </div>
            </div>
            <div class="complex-page__characteristic-block">
                <div class="characteristic-name">
                    Охрана
                </div>
                <div class="characteristic-description">
                    {{#if security}}Есть{{else}}Нет{{/if}}
                </div>
            </div>
        </div>

        <div class="info_description">
            <div class="info_about-complex">
                О жилом комплексе "{{name}}"
            </div>
            <div class="info_complex_description">
                {{description}}
            </div>
        </div>
    </div>

    <div class="complex-page__adverts" id="cards">
        <h2>Объявления в этом ЖК</h2>
    </div>

</div>