<div class="button-container {{#if blockClass}}{{blockClass}}{{/if}} " id="{{id}}">
    <button class="{{#if mode}}button_{{mode}}{{/if}} {{#if size}}button_size_{{size}}{{/if}} 
    {{#if borderRadius}}button_border-radius_{{borderRadius}}{{/if}}" type="button">
        {{#if text}}{{text}}{{/if}}
    </button>
</div>
