<button class="{{#if blockClass}}{{blockClass}}{{/if}} {{#if order}}button_{{order}}{{/if}} {{#if size}}button_size_{{size}}{{/if}} 
{{#if borderRadius}}button_border-radius_{{borderRadius}}{{/if}}" type="button" id="{{id}}">
    {{#if text}}{{text}}{{/if}}
</button>